.block {
    height: 50px;
    width: 100px;
    background: green;
}
.block:hover {
    background: blueviolet;
}

.message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    opacity: 0;
    transform: translateY(-200px);
    transition: transform 0.5s ease-in;
}
.success {
    background: lightgreen;
    color: darkgreen;
}
.reject {
    background: lightcoral;
    color: darkred;
}
.show-message {
    transform: translateY(0);
}